Package: neofetch
Version: 7.0.0-1+hamonikr3
Architecture: all
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 332
Recommends: chafa
Section: utils
Priority: optional
Homepage: https://github.com/dylanaraps/neofetch
Description: Shows Linux System Information with Distribution Logo
 Neoftech is a cross-platform and easy-to-use system information
 command line script that collects your Linux system information
 and display it on the terminal next to an image, it could be your
 distributions logo or any ascii art of your choice.
