Source: neofetch
Maintainer: HamoniKR <pkg@hamonikr.org>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 11)
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/hamonikr/neofetch
Vcs-Git: https://github.com/hamonikr/neofetch
Homepage: https://github.com/hamonikr/neofetch

Package: neofetch
Architecture: all
Depends: ${misc:Depends}
Replaces: 
Recommends: chafa
Description: Shows Linux System Information with Distribution Logo
 Neoftech is a cross-platform and easy-to-use system information
 command line script that collects your Linux system information
 and display it on the terminal next to an image, it could be your
 distributions logo or any ascii art of your choice.
